force-app/main/default/flows/Just_Get_Booking_Details_Demo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Booking_Record_Assignment</name>
        <label>Booking Record Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>bookingid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Booking_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingdetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Booking_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>daysbetweencount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>daysBEtweenStartDateAndToday</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>daysBEtweenStartDateAndToday</name>
        <dataType>Number</dataType>
        <expression>{!Fetch_Booking_Details.Travel_Start_Date__c} - TODAY()</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Just Get Booking Details Demo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Just Get Booking Details Demo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Booking_Details</name>
        <label>Fetch Booking Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Booking_Record_Assignment</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingno</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email_Details__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emaildetails</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Flight_Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Booking_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bookingdetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Flight_Booking__c</objectType>
    </variables>
    <variables>
        <name>bookingid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>bookingno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>daysbetweencount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>emaildetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
